extends landing

block content
  div.container
    div.row
      div.span1.column
      div.span10.column
        h1=title
        table.table.table-bordered.table-striped.mhh-landing-table
          tr
            td 
            td Store #1
            td Store #2
            td Store #3
            td Store #4
            td Store #5
            td All Stores
          tr
            td Beer
            td 
              a(href="heatmap/store/1/segment/beer") Unweighted
              a(href="heatmap/store/1/segment/beer/true") Weighted
            td
              a(href="heatmap/store/2/segment/beer") Unweighted
              a(href="heatmap/store/2/segment/beer/true") Weighted
            td
              a(href="heatmap/store/3/segment/beer") Unweighted
              a(href="heatmap/store/3/segment/beer/true") Weighted
            td
              a(href="heatmap/store/4/segment/beer") Unweighted
              a(href="heatmap/store/4/segment/beer/true") Weighted
            td
              a(href="heatmap/store/5/segment/beer") Unweighted
              a(href="heatmap/store/5/segment/beer/true") Weighted
            td
              a(href="heatmap/store/all/segment/beer") Unweighted 
              a(href="heatmap/store/all/segment/beer/true") Weighted   
              
          tr
            td Wine
            td 
              a(href="heatmap/store/1/segment/wine") Unweighted
              a(href="heatmap/store/1/segment/wine/true") Weighted
            td
              a(href="heatmap/store/2/segment/wine") Unweighted
              a(href="heatmap/store/2/segment/wine/true") Weighted
            td
              a(href="heatmap/store/3/segment/wine") Unweighted
              a(href="heatmap/store/3/segment/wine/true") Weighted
            td
              a(href="heatmap/store/4/segment/wine") Unweighted
              a(href="heatmap/store/4/segment/wine/true") Weighted
            td
              a(href="heatmap/store/5/segment/wine") Unweighted
              a(href="heatmap/store/5/segment/bewineer/true") Weighted
            td
              a(href="heatmap/store/all/segment/wine") Unweighted 
              a(href="heatmap/store/all/segment/wine/true") Weighted 
              
          tr
            td Deli
            td 
              a(href="heatmap/store/1/segment/deli") Unweighted
              a(href="heatmap/store/1/segment/deli/true") Weighted
            td
              a(href="heatmap/store/2/segment/deli") Unweighted
              a(href="heatmap/store/2/segment/deli/true") Weighted
            td
              a(href="heatmap/store/3/segment/deli") Unweighted
              a(href="heatmap/store/3/segment/deli/true") Weighted
            td
              a(href="heatmap/store/4/segment/deli") Unweighted
              a(href="heatmap/store/4/segment/deli/true") Weighted
            td
              a(href="heatmap/store/5/segment/deli") Unweighted
              a(href="heatmap/store/5/segment/deli/true") Weighted
            td
              a(href="heatmap/store/all/segment/deli") Unweighted 
              a(href="heatmap/store/all/segment/deli/true") Weighted   
              
          tr
            td Bakery
            td 
              a(href="heatmap/store/1/segment/bakery") Unweighted
              a(href="heatmap/store/1/segment/bakery/true") Weighted
            td
              a(href="heatmap/store/2/segment/bakery") Unweighted
              a(href="heatmap/store/2/segment/bakery/true") Weighted
            td
              a(href="heatmap/store/3/segment/bakery") Unweighted
              a(href="heatmap/store/3/segment/bakery/true") Weighted
            td
              a(href="heatmap/store/4/segment/bakery") Unweighted
              a(href="heatmap/store/4/segment/bakery/true") Weighted
            td
              a(href="heatmap/store/5/segment/bakery") Unweighted
              a(href="heatmap/store/5/segment/bakery/true") Weighted
            td
              a(href="heatmap/store/all/segment/bakery") Unweighte
              a(href="heatmap/store/all/segment/bakery/true") Weightedd  
              
          tr
            td All Segments
            td 
              a(href="heatmap/store/1/segment/all") Unweighted
              a(href="heatmap/store/1/segment/all/true") Weighted
            td
              a(href="heatmap/store/2/segment/all") Unweighted
              a(href="heatmap/store/2/segment/all/true") Weighted
            td
              a(href="heatmap/store/3/segment/all") Unweighted
              a(href="heatmap/store/3/segment/all/true") Weighted
            td
              a(href="heatmap/store/4/segment/all") Unweighted
              a(href="heatmap/store/4/segment/all/true") Weighted
            td
              a(href="heatmap/store/5/segment/all") Unweighted
              a(href="heatmap/store/5/segment/all/true") Weighted
            td
              a(href="heatmap/store/all/segment/all") Unweighted  
              a(href="heatmap/store/all/segment/all/true") Weighted   